.about-container {
    max-width: 800px;
    margin: 80px auto 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: white;
  }
  
  .about-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .about-container p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .about-container .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .about-container .social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    color: white;
    background-color: #333;
    transition: background-color 0.3s ease;
  }
  
  .about-container .social-icons a:hover {
    background-color: #666;
  }
  
  .about-container .social-icons i {
    font-size: 20px;
  }
  
  .photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .photo-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  
  .about-text {
    color: black;
  }